%h1 Main#index
%p Find me in app/views/main/index.html.erb

/ - @courses.each do |course|
/   = course.id

/ = form_for @new, :url => {:action => 'create'} do |f|
/   = f.text_field :user
/   = f.submit


%h2 Step1:
= form_tag '/main/create', method: :post do
  user:
  = text_field_tag "try[user]"
  repo:
  = text_field_tag "try[repo]"
  sha:
  = text_field_tag "try[sha]"
  = submit_tag "送信"

%br
%h2 Step2:
= form_tag '/main/create', method: :post do
  user:
  = text_field_tag "try[user]"
  repo:
  = text_field_tag "try[repo]"
  sha:
  = text_field_tag "try[sha]"
  = submit_tag "送信"
