%div.animsition{"data-animsition-overlay": true}
  - @courses.each do |course|
    \#
    = course.id
    = course.user
    |
    = course.repo
    |
    = link_to course.summary, course_path(course)
    %br

  %hr
  = link_to "New course", new_course_path, class: 'animsition-link'

:javascript
  $(document).ready(function() { 
    $(".animsition").animsition({    
      inClass               :   'fade-in-right',
      outClass              :   'fade-out-left',
      inDuration            :    1500,
      outDuration           :    800,
      linkElement           :   '.animsition-link',
      loading               :    true,
      loadingParentElement  :   'body', //animsition wrapper element
      loadingClass          :   'animsition-loading',
      unSupportCss          : [ 'animation-duration',
                                '-webkit-animation-duration',
                                '-o-animation-duration'
                              ],
      overlay               :   false,
      overlayClass          :   'animsition-overlay-slide',
      overlayParentElement  :   'body'
    });
  });